<div class="header">
    <h3>网易云音乐</h3>
    <p><img src="images/fang.png"></p>
</div>
<!--sub-->
<div class="sub">
    <ul>
        <li class="active"><a href="#">时下流行</a></li>
        <li><a href="#">歌单</a></li>
        <li><a href="#">排行榜</a></li>
        <li><a href="#">热门歌手</a></li>
    </ul>
</div>
<!--banner-->
<div class="banner">
    <div class="pic">
        <ul>
            <li><img src="images/banner1.jpg" alt=""></li>
            <li><img src="images/banner2.jpg" alt=""></li>
            <li><img src="images/banner3.jpg" alt=""></li>
            <li><img src="images/banner4.jpg" alt=""></li>
        </ul>
    </div>
</div>
<!--main-->
<div class="main">
    <div class="title  clearfix">
        <h4>推荐歌曲</h4>
        <a href="javascript:;" class="link">更多>></a>
    </div>
    <ul id="playlist">

    </ul>
</div>